v-env/
.idea/
*.log
*.pid
workspace/
state.sqlite
master/maxscale/config/mailer_config.py
master/maxscale/config/github_client_config.py
master/maxscale/config/auth_config.py
master/maxscale/config/database_config.py
master/maxscale/config/workers.py
__pycache__/
*.pyc
gitpoller-work
master.cfg.sample
worker-dev
worker/
