v-env/
.idea/
*.log
*.pid
workspace/
state.sqlite
master/maxscale/config/auth_config.py
master/maxscale/config/database_config.py
master/maxscale/config/github_client_config.py
master/maxscale/config/google_auth_config.py
master/maxscale/config/mailer_config.py
master/maxscale/config/workers.py
master/maxscale/config/server_config.py
master/maxscale/secrets/
__pycache__/
*.pyc
gitpoller-work
master.cfg.sample
worker-dev
worker/
node_modules/
build/
*.lock
.DS_Store
.vscode/
coverage/
dist/
