[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

paver = "*"
pycodestyle = "*"

[requires]
python_version = "3"

[packages]
buildbot-worker = "==2.8.2"
mysqlclient = "*"
paramiko = "*"
pyOpenSSL = "*"
requests = "*"
service_identity = "*"

[packages.buildbot]
extras = [ "bundle",]
version = "==2.8.2"
